.wrapper {
   --search-border-radius: 92px;
   --search-width: 361px;
   --search-height: 46px;
   --search-icon-color: rgba(22, 24, 35, 0.34);

   width: 100%;
   height: var(--default-layout-header-height, 60px);
   box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
   display: flex;
   justify-content: center;
   align-items: center;
}

.inner {
   height: 100%;
   width: var(--default-layout-width);
   display: flex;
   align-items: center;

   &-left {
      img {
         width: var(--sidebar-width);
         object-fit: contain;
         object-position: left;
         height: 42px;
      }
   }

   &-right {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
}

.search {
   width: var(--search-width);
   height: var(--search-height);
   background-color: rgba(22, 24, 35, 0.06);
   border-radius: var(--search-border-radius);
   position: relative;
   display: flex;
   align-items: center;
   padding: 10px 0 10px 16px;
   border: 1.5px solid transparent;

   &:focus-within {
      border-color: rgba(22, 24, 35, 0.2);
   }

   &-input {
      flex: 1;
      background-color: transparent;
      color: var(--black);
      caret-color: var(--primary);
      border: 0;
      height: 100%;
      width: 100%;
      padding-right: 38px;
   }

   &-input:not(:placeholder-shown) ~ &-clear-btn {
      display: block;
   }

   &-input:not(:placeholder-shown) ~ &-btn {
      color: rgba(22, 24, 35, 0.75);
   }

   &-clear-btn,
   &-loader {
      display: none;
      position: absolute;
      right: 63px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      color: var(--search-icon-color);
      font-size: 15px;
   }

   &-splitter {
      width: 1px;
      height: 100%;
      background-color: rgba(22, 24, 35, 0.12);
   }

   &-btn {
      width: 50px;
      padding-right: 4px;
      height: calc(var(--search-height) - 2px);
      border-top-right-radius: var(--search-border-radius);
      border-bottom-right-radius: var(--search-border-radius);
      font-size: 20px;
      color: var(--search-icon-color);
   }

   &-btn:hover {
      background-color: rgba(22, 24, 35, 0.03);
   }
}

.search-title {
   padding: 5px 16px;
   font-size: 1.4rem;
   font-weight: 600;
   color: rgba(22, 24, 35, 0.5);
}

.search-result {
   width: var(--search-width);
}

.action {
   display: flex;
   justify-content: flex-end;
   align-items: center;

   &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 6px 15px;
      font-weight: 600;
      font-size: 1.5rem;
      border-radius: 4px;
      border: 1px solid transparent;
      min-width: 100px;
   }

   &-btn + &-btn {
      margin-left: 16px;
   }

   &-btn.upload {
      background-color: transparent;
      border-color: rgba(22, 24, 35, 0.12);

      &:hover {
         background-color: rgba(22, 24, 35, 0.03);
      }
   }

   &-btn.login {
      background-color: var(--primary);
      color: white;

      &:hover {
         background: linear-gradient(
               0deg,
               rgba(0, 0, 0, 0.06),
               rgba(0, 0, 0, 0.06)
            ),
            var(--primary);
      }
   }

   &-btn.menu {
      min-width: unset;
      width: 20px;
      background-color: transparent;
      font-size: 2rem;
   }

   &-icon {
      margin-right: 8px;
   }
}
